input[type="button"] {
  border: none;
  background-color: #29a19c;
  color: #a3f7bf;
  width: 8.15rem;
  height: 2.1rem;
  border-radius: 5px;
  margin: 0.5rem;
}
input[type="button"]:disabled {
  background-color: #29a19d8a;
  color: #263f44;
}

#types {
  margin: 0.5rem 0;
  display: flex;
  flex-direction: column;
}

@media (max-width: 800px) {
  #types input[type="button"] {
    width: auto;
    height: 3.2rem;
  }
}
