/* Color Palette */
/* Base/Background: #263f44 */
/* Highlight: #f3c623 */
/* Text: #29a19c */
/* Hover/Accent: #a3f7bf */

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 100%;
  background-color: #263f44;
  color: #29a19c;
}
header {
  display: flex;
  align-items: baseline;
  max-width: 400px;
  width: 100%;
  justify-content: space-evenly;
}

.header-divider {
  display: none;
}

#info {
  display: none;
}

svg {
  height: 40px;
  width: 40px;
}

@media (max-width: 600px) {
  header {
    margin: 0 auto;
  }
  header h1 {
    width: 75%;
    margin: 0 auto;
    text-align: center;
    padding-left: 20%;
  }
  .header-divider {
    display: block;
  }
  #info {
    display: flex;
    margin: auto 0;
    padding-right: 10%;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #f3c623;
}

.top {
  display: flex;
  /* justify-content: space-between; */
  padding-top: 2.5rem;
  background-color: #27323a;
}

@media (max-width: 800px) {
  .top {
    flex-direction: column;
    width: 100%;
  }
}

.section {
  padding-bottom: 2%;
  /* border-radius: 10px; */
}

.left {
  width: 30%;
  min-width: 380px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 2px;
}
.left div {
  padding-left: 3%;
  padding-bottom: 5%;
}

@media (max-width: 800px) {
  .left {
    min-width: 375px;
    width: 100%;
  }
  .left div {
    padding-left: 0;
  }
}

.middle {
  padding-left: 5%;
  /* padding-top: 6%; */
  width: 30%;
}

.right {
  width: 30%;
}
